# Olga Cervera
## Modificación de datos.

In [3]:
import pandas as pd

In [5]:
def movecol(df, cols_to_move=None, ref_col="", place="After"):
    if cols_to_move is None:
        cols_to_move = []

    cols = df.columns.tolist()
    if place == "After":
        seg1 = cols[: list(cols).index(ref_col) + 1]
        seg2 = cols_to_move
    if place == "Before":
        # seg1 = cols[:list(cols).index(ref_col)]
        seg2 = cols_to_move + [ref_col]

    seg1 = [i for i in seg1 if i not in seg2]
    seg3 = [i for i in cols if i not in seg1 + seg2]

    return df[seg1 + seg2 + seg3]

In [4]:
df = pd.read_csv("data/InventarioInicial.csv", delimiter="	", encoding="utf-8")
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  207 non-null    object
 1   Tipo    207 non-null    object
 2   Piezas  207 non-null    int64
 3   Precio  207 non-null    int64
dtypes: int64(2), object(2)
memory usage: 6.6+ KB

                           Nombre              Tipo  Piezas  Precio
0          Arrolladitos amarillos      Individuales       5      50
1     Arrolladitos amarillos 25pz           Encargo      25     220
2    Arrolladitos amarillos rappi  Bocadillos rappi       5      55
3            Arrolladitos blancos        Bocadillos       5      60
4       Arrolladitos blancos 25pz           Encargo      25     220
..                            ...               ...     ...     ...
202                 Velas mágicas             Velas       1      40
203              Velas pasteleras             Velas       1      30
204                       Yucapay              Pays       1     195
205                 Yucapay rappi        Pays rappi       1     205
206                 Zanahoria 20p          Pasteles       1     325

[207 rows x 4 columns]

In [6]:
df_rappi = df[df["Tipo"].str.contains("rappi")]
df_tienda = df[~(df["Tipo"].str.contains("rappi"))]
df_rappi

                           Nombre              Tipo  Piezas  Precio
2    Arrolladitos amarillos rappi  Bocadillos rappi       5      55
5      Arrolladitos blancos rappi  Bocadillos rappi       5      65
9           Bizcocho ingles rappi   Panaderia rappi       1     190
20      Cajeta 3 leches 15p rappi    Pasteles rappi       1     260
24                   Cebada rappi     Bebidas rappi       1      25
..                            ...               ...     ...     ...
185    Rebanada tres leches rappi   Rebanadas rappi       1      50
190           Rosca brioche rappi   Panaderia rappi       1     190
194              Sandwichon rappi  Bocadillos rappi       1     340
198         Tres leches 15p rappi    Pasteles rappi       1     235
205                 Yucapay rappi        Pays rappi       1     205

[64 rows x 4 columns]

In [7]:
print(
    "Duplicados de tienda: ",
    df_tienda["Nombre"].duplicated(keep=False).sum(),
    "\nDuplicados de rappi: ",
    df_rappi["Nombre"].duplicated(keep=False).sum(),
)

Duplicados de tienda:  0
Duplicados de rappi:  0

In [8]:
df_rappi.loc[:, "Nombre"] = (
    df_rappi.loc[:, "Nombre"].str.replace(" rappi", "").str.strip()
)
df_tienda.loc[:, "Nombre"] = (
    df_tienda.loc[:, "Nombre"].str.replace(" rappi", "").str.strip()
)
df_rappi

C:\Users\rogab\AppData\Local\Temp\ipykernel_6128\1608360432.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rappi.loc[:, "Nombre"] = (
C:\Users\rogab\AppData\Local\Temp\ipykernel_6128\1608360432.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tienda.loc[:, "Nombre"] = (

                     Nombre              Tipo  Piezas  Precio
2    Arrolladitos amarillos  Bocadillos rappi       5      55
5      Arrolladitos blancos  Bocadillos rappi       5      65
9           Bizcocho ingles   Panaderia rappi       1     190
20      Cajeta 3 leches 15p    Pasteles rappi       1     260
24                   Cebada     Bebidas rappi       1      25
..                      ...               ...     ...     ...
185    Rebanada tres leches   Rebanadas rappi       1      50
190           Rosca brioche   Panaderia rappi       1     190
194              Sandwichon  Bocadillos rappi       1     340
198         Tres leches 15p    Pasteles rappi       1     235
205                 Yucapay        Pays rappi       1     205

[64 rows x 4 columns]

In [9]:
df_rappi = df_rappi.set_index("Nombre")
df_tienda = df_tienda.set_index("Nombre")
df_rappi.to_csv("data/Rappi.csv")
df_tienda.to_csv("data/Tienda.csv")
df_inventario = pd.concat([df_tienda, df_rappi], axis=1)
df_inventario

,Tipo,Piezas,Precio,Tipo,Piezas,Precio
Nombre,,,,,,
Arrolladitos amarillos,Individuales,5,50,Bocadillos rappi,5.0,55.0
Arrolladitos amarillos 25pz,Encargo,25,220,NaN,NaN,NaN
Arrolladitos blancos,Bocadillos,5,60,Bocadillos rappi,5.0,65.0
Arrolladitos blancos 25pz,Encargo,25,220,NaN,NaN,NaN
Arrolladitos de pate,Encargo,25,265,NaN,NaN,NaN
...,...,...,...,...,...,...
Vela número,Velas,1,15,NaN,NaN,NaN
Velas mágicas,Velas,1,40,NaN,NaN,NaN
Velas pasteleras,Velas,1,30,NaN,NaN,NaN
Yucapay,Pays,1,195,Pays rappi,1.0,205.0
Zanahoria 20p,Pasteles,1,325,NaN,NaN,NaN

In [8]:
df_inventario.columns = [
    "Tipo Tienda",
    "Piezas Tienda",
    "Precio Tienda",
    "Tipo Rappi",
    "Piezas Rappi",
    "Precio Rappi",
]
df_inventario

,Tipo Tienda,Piezas Tienda,Precio Tienda,Tipo Rappi,Piezas Rappi,Precio Rappi
Nombre,,,,,,
Arrolladitos amarillos,Individuales,5,50,Bocadillos rappi,5.0,55.0
Arrolladitos amarillos 25pz,Encargo,25,220,NaN,NaN,NaN
Arrolladitos blancos,Bocadillos,5,60,Bocadillos rappi,5.0,65.0
Arrolladitos blancos 25pz,Encargo,25,220,NaN,NaN,NaN
Arrolladitos de pate,Encargo,25,265,NaN,NaN,NaN
...,...,...,...,...,...,...
Vela número,Velas,1,15,NaN,NaN,NaN
Velas mágicas,Velas,1,40,NaN,NaN,NaN
Velas pasteleras,Velas,1,30,NaN,NaN,NaN
Yucapay,Pays,1,195,Pays rappi,1.0,205.0
Zanahoria 20p,Pasteles,1,325,NaN,NaN,NaN

In [9]:
df_piezas = df_inventario[["Piezas Tienda", "Piezas Rappi"]].T.ffill().bfill().T
df_piezas

                             Piezas Tienda  Piezas Rappi
Nombre
Arrolladitos amarillos                 5.0           5.0
Arrolladitos amarillos 25pz           25.0          25.0
Arrolladitos blancos                   5.0           5.0
Arrolladitos blancos 25pz             25.0          25.0
Arrolladitos de pate                  25.0          25.0
...                                    ...           ...
Vela número                            1.0           1.0
Velas mágicas                          1.0           1.0
Velas pasteleras                       1.0           1.0
Yucapay                                1.0           1.0
Zanahoria 20p                          1.0           1.0

[143 rows x 2 columns]

In [10]:
df_inventario["Piezas Tienda"] = df_piezas["Piezas Tienda"]
df_inventario = df_inventario.drop(columns=["Piezas Rappi"]).rename(
    columns={"Piezas Tienda": "Piezas"}
)
df_inventario

,Tipo Tienda,Piezas,Precio Tienda,Tipo Rappi,Precio Rappi
Nombre,,,,,
Arrolladitos amarillos,Individuales,5.0,50,Bocadillos rappi,55.0
Arrolladitos amarillos 25pz,Encargo,25.0,220,NaN,NaN
Arrolladitos blancos,Bocadillos,5.0,60,Bocadillos rappi,65.0
Arrolladitos blancos 25pz,Encargo,25.0,220,NaN,NaN
Arrolladitos de pate,Encargo,25.0,265,NaN,NaN
...,...,...,...,...,...
Vela número,Velas,1.0,15,NaN,NaN
Velas mágicas,Velas,1.0,40,NaN,NaN
Velas pasteleras,Velas,1.0,30,NaN,NaN
Yucapay,Pays,1.0,195,Pays rappi,205.0
Zanahoria 20p,Pasteles,1.0,325,NaN,NaN

In [11]:
df_inventario = movecol(
    df_inventario, ["Piezas"], ref_col="Tipo Tienda", place="Before"
)
df_inventario

,Piezas,Tipo Tienda,Precio Tienda,Tipo Rappi,Precio Rappi
Nombre,,,,,
Arrolladitos amarillos,5.0,Individuales,50,Bocadillos rappi,55.0
Arrolladitos amarillos 25pz,25.0,Encargo,220,NaN,NaN
Arrolladitos blancos,5.0,Bocadillos,60,Bocadillos rappi,65.0
Arrolladitos blancos 25pz,25.0,Encargo,220,NaN,NaN
Arrolladitos de pate,25.0,Encargo,265,NaN,NaN
...,...,...,...,...,...
Vela número,1.0,Velas,15,NaN,NaN
Velas mágicas,1.0,Velas,40,NaN,NaN
Velas pasteleras,1.0,Velas,30,NaN,NaN
Yucapay,1.0,Pays,195,Pays rappi,205.0
Zanahoria 20p,1.0,Pasteles,325,NaN,NaN

In [12]:
df_inventario = df_inventario.sort_index()
df_inventario

,Piezas,Tipo Tienda,Precio Tienda,Tipo Rappi,Precio Rappi
Nombre,,,,,
Arrolladitos amarillos,5.0,Individuales,50,Bocadillos rappi,55.0
Arrolladitos amarillos 25pz,25.0,Encargo,220,NaN,NaN
Arrolladitos blancos,5.0,Bocadillos,60,Bocadillos rappi,65.0
Arrolladitos blancos 25pz,25.0,Encargo,220,NaN,NaN
Arrolladitos de pate,25.0,Encargo,265,NaN,NaN
...,...,...,...,...,...
Vela número,1.0,Velas,15,NaN,NaN
Velas mágicas,1.0,Velas,40,NaN,NaN
Velas pasteleras,1.0,Velas,30,NaN,NaN
Yucapay,1.0,Pays,195,Pays rappi,205.0
Zanahoria 20p,1.0,Pasteles,325,NaN,NaN

In [13]:
df_inventario = df_inventario.astype({"Piezas": int})
df_inventario

,Piezas,Tipo Tienda,Precio Tienda,Tipo Rappi,Precio Rappi
Nombre,,,,,
Arrolladitos amarillos,5,Individuales,50,Bocadillos rappi,55.0
Arrolladitos amarillos 25pz,25,Encargo,220,NaN,NaN
Arrolladitos blancos,5,Bocadillos,60,Bocadillos rappi,65.0
Arrolladitos blancos 25pz,25,Encargo,220,NaN,NaN
Arrolladitos de pate,25,Encargo,265,NaN,NaN
...,...,...,...,...,...
Vela número,1,Velas,15,NaN,NaN
Velas mágicas,1,Velas,40,NaN,NaN
Velas pasteleras,1,Velas,30,NaN,NaN
Yucapay,1,Pays,195,Pays rappi,205.0
Zanahoria 20p,1,Pasteles,325,NaN,NaN

In [14]:
df_inventario.to_csv("data/Inventario-OlgaCervera.csv")